* {
    padding: 0px;
    margin: 0px;
}

.logo {
    font-size: 17px;
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 20px;
    margin: auto 0px;
    height: fit-content;
    font-weight: bold;
}

.header {
    top: 0px;
    position: sticky;
    height: 80px;
    color: #e7dfdf;
    background-color: #2b2922;
}


.nav {
    position: absolute;
    top: 0px;
    bottom: 0px;
    right: 0px;
    margin: auto 0px;
    height: fit-content;
    font-family: "Red Rose", cursive;
}

.navItem {
    display: inline;
    margin: 0px 15px;
    color: #b1b0ac;
}

.navItem.active {
    color: #fff;
}

.navItem.button>button {
    padding: 10px 20px;
    background: transparent;
    border: 2px solid #aaa;
    border-radius: 5px;
    color: #9a9477;
    font-family: "Red Rose", cursive;
}

main {
    padding: 20px;
}

section {
    margin-top: 20px;
}